Repository pablotabares/decide, pull requests merged in 2018-12, with the labels that each got.

#53 Fixed bug in Hondt method
  decide/postproc/tests.py
  decide/postproc/views.py
Labels: Postproc, bug, priority: high

#54 Ortosia postproc
  .travis.yml
  decide/mixnet/models.py
  decide/postproc/tests.py
  decide/postproc/views.py
  docker/Dockerfile
  docker/docker-compose.yml
Labels: Postproc, enhancement, priority: medium

#71 Email Authentication
  decide/authentication/serializers.py
  decide/authentication/tests.py
  decide/authentication/urls.py
  decide/authentication/views.py
  decide/base/backends.py
  decide/decide/settings.py
Labels: enhancement

#101 Fixed deployment bug
  decide/decide/settings.py
Labels: Postproc, bug, priority: high

#94 Ortosia auth reset password
  .idea/decide.iml
  .idea/encodings.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  .idea/workspace.xml
  decide/authentication/styles/password_reset_form.css
  decide/authentication/templates/registration/password_reset_complete.html
  decide/authentication/templates/registration/password_reset_confirm.html
  decide/authentication/templates/registration/password_reset_done.html
  decide/authentication/templates/registration/password_reset_email.html
  decide/authentication/templates/registration/password_reset_form.html
  decide/authentication/templates/registration/password_reset_subject.txt
  decide/authentication/tests.py
  decide/authentication/urls.py
  decide/authentication/views.py
  decide/decide/settings.py
Labels: Auth, enhancement, priority: high

#109 Postproc - Add Droop quota postprocessing method
  decide/postproc/tests.py
  decide/postproc/views.py
Labels: Postproc, enhancement, priority: medium

#106 Ortosia visualizacion
  .travis.yml
  Procfile
  decide/db.sqlite3
  decide/decide/settings.py
  decide/local_settings.example.py
  decide/visualizer/.vscode/settings.json
  decide/visualizer/templates/visualizer/visualizer.html
  decide/visualizer/views.py
  docker/Dockerfile
  requirements.txt
  runtime.txt
Labels: Visualizer, enhancement
