Repository pablotabares/decide, pull requests merged in 2019-01, with the labels that each got.

#143 Register Form.
  decide/authentication/base.py
  decide/authentication/forms.py
  decide/authentication/signals.py
  decide/authentication/templates/acc_active_email.html
  decide/authentication/templates/acc_active_sent.html
  decide/authentication/templates/base.html
  decide/authentication/templates/login.html
  decide/authentication/templates/signup.html
  decide/authentication/tests.py
  decide/authentication/tokens.py
  decide/authentication/urls.py
  decide/authentication/validators.py
  decide/authentication/views.py
  decide/decide/settings.py
Labels: Auth, enhancement, priority: medium

#164 Ortosia visualizacion
  .travis.yml
  Procfile
  decide/visualizer/templates/visualizer/visualizer.html
  decide/visualizer/tests.py
  docker/Dockerfile
  requirements.txt
Labels: Visualizer, enhancement

#165 Deployment with Docker + Heroku + Travis
  .travis.yml
  decide/decide/settings.py
  decide/heroku_settings.py
  decide/voting/migrations/0004_auto_20190109_1244.py
  docker/Dockerfile
  docker/docker-settings.py
  requirements.txt
Labels: Cabina, docker, heroku, travis

#174 Add more info to the decide user
  decide/authentication/admin.py
  decide/authentication/migrations/0001_initial.py
  decide/authentication/models.py
  decide/authentication/tests.py
  decide/authentication/urls.py
  decide/authentication/views.py
  decide/base/backends.py
  decide/db.sqlite3
  decide/decide/settings.py
  decide/local_settings.py
  decide/mixnet/views.py
  decide/voting/admin.py
  decide/voting/models.py
  requirements.txt
Labels: Auth, enhancement, priority: high

#176 Ortosia auth prepro
  .travis.yml
  decide/authentication/base.py
  decide/authentication/forms.py
  decide/authentication/signals.py
  decide/authentication/styles/password_reset_form.css
  decide/authentication/templates/acc_active_email.html
  decide/authentication/templates/acc_active_sent.html
  decide/authentication/templates/base.html
  decide/authentication/templates/login.html
  decide/authentication/templates/registration/password_reset_complete.html
  decide/authentication/templates/registration/password_reset_confirm.html
  decide/authentication/templates/registration/password_reset_done.html
  decide/authentication/templates/registration/password_reset_email.html
  decide/authentication/templates/registration/password_reset_form.html
  decide/authentication/templates/registration/password_reset_subject.txt
  decide/authentication/templates/signup.html
  decide/authentication/tests.py
  decide/authentication/tokens.py
  decide/authentication/urls.py
  decide/authentication/validators.py
  decide/authentication/views.py
  decide/decide/settings.py
  requirements.txt
Labels: Auth, priority: high

#181 Updated README.md
  README.md
Labels: Cabina

#188 Ortosia mixnet
  .gitignore
  decide/base/migrations/0004_auto_20190111_1240.py
  decide/base/models.py
  decide/decide/settings.py
  decide/mixnet/admin.py
  decide/mixnet/control_panel_utils.py
  decide/mixnet/forms.py
  decide/mixnet/migrations/0005_auto_20190113_1203.py
  decide/mixnet/migrations/0005_connectionstatus.py
  decide/mixnet/migrations/0006_merge_20190113_1348.py
  decide/mixnet/mixcrypt.py
  decide/mixnet/models.py
  decide/mixnet/populate.py
  decide/mixnet/templates/login_mixnet.html
  decide/mixnet/templates/mixnet_control_panel.html
  decide/mixnet/templates/mixnet_populate.html
  decide/mixnet/templates/populate_login.html
  decide/mixnet/templates/result.html
  decide/mixnet/templates/zkp.html
  decide/mixnet/tests.py
  decide/mixnet/urls.py
  decide/mixnet/views.py
  decide/mixnet/zkp.py
  decide/mixnet/zkp_form.py
  decide/populate.py
  decide/populateData/users
  requirements.txt
Labels: Auth, Mixnet, Voting

#192 Added more multiple question tests
  .gitignore
  decide/postproc/tests.py
Labels: Postproc, enhancement, priority: medium

#202 Ortosia auth security email
  decide/authentication/templates/email_notification.html
  decide/authentication/views.py
Labels: Auth, enhancement

#205 Reduced test redundancy
  .travis.yml
  decide/postproc/tests.py
  decide/postproc/views.py
Labels: Postproc, optimization, priority: medium
